body {
    font-family: system-ui;
    background-color: #171717;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    perspective: 800px;
}

img {
    width: 900px;
    height: 600px;
    object-fit: cover;
    background-color: khaki;
}

img:hover {
    cursor: pointer;
}