* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: system-ui;
}

html, body {
    background-color: #161616;
}

.menu {
    position: absolute;
        left: 10%;
        top: 20%;
    height: 60%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.menu-item {
    position: relative;
    flex: 1;
    /*border-bottom:  1px solid red;*/
}

.menu #span {
    position: relative;
    display: inline-block; 
    top: 50%;
    transform: translateY(-50%);
    color: white;
    mix-blend-mode: difference;
    font-size: 30px;
    padding-left: 1rem;
    text-decoration: none; /* by default we can't apply transformations */
}

.one {
    background-image: url(./img/1.jpg);
}

.two {
    background-image: url(./img/2.jpg);
}

.three {
    background-image: url(./img/3.jpg);
}

.four {
    background-image: url(./img/4.jpg);
}

.five {
    background-image: url(./img/5.jpg);
}

.hover-reveal {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: 300px;
    opacity: 0;
    pointer-events: none;
    transform: translate3D(0px, -300px, 0);
    transition: 0.2s ease-out;
}

.hover-reveal__inner {
    width: 100%;
    height: 100%;
    position: relative;
    will-change: transform;
}

.hover-reveal__img {
    background-size: cover;
    background-position: 50% 50%;
    transform-origin: 50% 100%;
    width: 100%;
    height: 100%;
    position: relative;
    will-change: transform;
    transform: scale(0.8, 0.8);
    transition: 1.3s transform;
}