<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bounce-Up</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <section class="container">
        <div class="card">
            <img src="img/1.jpg" alt="Tree">
            <figcaption class="caption">
                <h1 class="fig-h1">Tree</h1>
                <span>on a hill</span>
            </figcaption>
        </div>

        <div class="card">
            <img src="img/2.jpg" alt="Snowy Lake">
            <figcaption class="caption">
                <h1 class="fig-h1">Snow</h1>
                <span>on the lake</span>
            </figcaption>
        </div>

        <div class="card">
            <img src="img/3.jpg" alt="A Camera">
            <figcaption class="caption">
                <h1 class="fig-h1">Camera</h1>
                <span>black and white</span>
            </figcaption>
        </div>

    </section>

    <script src="js/script.js"></script>
</body>

</html>